body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body{
background-color: #6EABDD;

}

    .container{
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc( ( 100% - 800px ) / 2 );
        position: relative;
    }

        .left-column{
            display: inline-block;
            float: right;
            width: 40%;
            background-color: #009BDD;
            padding: 40px;
            color: #FFFFFF;
            width: 40%px;
            /* height: 440px; */
            background-image: url(./kaire.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 30px;
            bottom: 30px;
            /* cover - pildo visa, contain pildo tmx koks paveikslelis */

        }
        .title{
        }
        .footer{
            
            position: absolute;
            left: 40px;
            bottom: 20px;
            right: 40px;
        }
            .link{
             color: #FFFFFF
            }
            .amp{
            color: #FFFFFF    
            }

        .right-column{
            display: inline-block;
            float: right;
            width: 60%;
            background-color:#FFFFFF;
            padding: 60px;
            position: relative;
            /* reikia [paklausti */
            
        }
            .close{
                width: 60px;
                height: 60px;
                /* background-color: red; */
                text-align: center;
                font-size: 20px;
                line-height: 56px;
                cursor: pointer;
                /* alternatyva */
                /* float: right; */
                /* margin-top: -60px; */
                /* margin-right: -60px; */
                position: absolute;
                top: 0;
                right: 0;



            }
            .form{
                display: inline-block;
                width: 100%;
            }
                .form-row{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 30px;
                }
                .form-row:last-of-type{
                    margin-bottom: 0;
                }
                label{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 5px;
                    color: #777;
                    text-transform: uppercase;
                    font-size: 16px;
                }
                input{
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;

                    border: none;
                    border-bottom: 1px solid #777;
                     /* alternatyva */
                    /* border-left: none; */
                    /* border-right: none; */
                    /* border-top: none; */
                    /* border-bottom-color: red; */
                }
                .btn{
                    display: inline-block;
                    background-color: blue;
                    color: #FFFFFF;
                    padding: 10px;
                    padding-left: 50px;
                    padding-right: 50px;
                    line-height: 20px;
                    border-radius: 20px;

                }
                .or{
                    display: inline-block; 
                    padding-top: 10px;
                    padding-left: 30px;
                    padding-right : 30px;
                    line-height: 20px;   
                }
                .blue-link{
                    display: inline-block;
                    padding-top: 10px;
                    line-height: 20px;   
                    text-decoration: none;
                }


/* 
1) ctrl + shift + p
2) user snippets
3) css.json
4) completly overwrite content with following text

*/

/* Pazaisti su position */